<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>First app</name>
    <description>Bussinescard</description>
    <author  email="n.lewczuk@gmail.com">
		Natalia Lewczuk
	</author>
	<platform name="android" >
	
	<splash src="res/splash-land-hdpi.png" density="land-hdpi"/>
    <splash src="res/splash-land-ldpi.png" density="land-ldpi"/>
    <splash src="res/splash-land-mdpi.png" density="land-mdpi"/>
    <splash src="res/splash-land-xhdpi.png" density="land-xhdpi"/>

    <splash src="res/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="res/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="res/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="res/splash-port-xhdpi.png" density="port-xhdpi"/>
	<splash src="res/splash-port-xhdpi.png" />
	<icon src="res/icon.png" />
	</platform>


	<preference name="SplashScreen" value="screen"/>
	<preference name="SplashScreenDelay" value="3000" />

</widget>